{% load static %}
<div class="widget">
    <h2 class="widget-title">Instagram Feed</h2>
    <div class="instagram-wrapper clearfix">
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
        <a href="#"><img src="{% static 'upload/insta.jpeg' %}" alt="" class="img-fluid"></a>
    </div><!-- end Instagram wrapper -->
</div><!-- end widget -->